<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
    {{> header}}
    <p>
        Hi! Click <a href='https://nameless-stream-75222.herokuapp.com'/>here</a> to see my Expensify web app || 
        <a href='https://github.com/yardensibonyy/'>here</a> to check my github projects.
    </p>
    {{> footer}}
</body>
</html>